/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Inter', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;




.swiper {
  width: 100%;
  height:30vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .myDiv::-webkit-scrollbar {
  display: none;
} */

.myHeader{
  background: linear-gradient(200deg, #f58020 0%, rgb(255, 195, 146) 100%);
}

.myShadow{
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);

}

.AddEmprofilePic {
  border: 2px solid #d3d3d3 !important;
  height: 150px;
  width: 150px;
  border-radius: 100% !important;
  text-align: center !important;
  margin-bottom: 10px !important;
}


.uploaderPreview {
  border: 2px solid #d3d3d3 !important;
  height: 150px;
  width: 150px;
  border-radius: 100% !important;
  margin-bottom: 10px !important;
  background-color: aquamarine;

}


.uploaderPreview img {
  height: 150px;
  width: 150px;
  object-fit: contain;
  border-radius: 100% !important;

}

.PfuploaderPreview {
  border: 2px solid #d3d3d3 !important;
  height: 120px;
  width: 120px;
  border-radius: 100% !important;
  margin-bottom: 10px !important;
  background-color: aquamarine;

}


.PfuploaderPreview img {
  height: 120px;
  width: 120px;
  object-fit: contain;
  border-radius: 100% !important;

}

.picDelete {
  background-color: #f58020 ;
  color: #ffffff;
  font-weight: 600;
  padding: 2px 8px;
  border-radius: 100%;
  margin: 0;
  position: absolute;
  top: 0px;
  right: 0;
}


.AddAnnouncementImage {
  border: 1px solid #d3d3d3 !important;
  height: 200px;
  width: 100%;
  border-radius: 10px !important;
  text-align: center !important;
  margin-bottom: 10px !important;
}





.AnnounceuploaderPreview {
  border: 1px solid #d3d3d3 !important;
  height: 200px;
  width: 100%;
  border-radius: 10px !important;
  margin-bottom: 10px !important;

}


.AnnounceuploaderPreview img {
  height: 196px;
  width: 100%;
  object-fit: contain;
  border-radius: 20px !important;

}


.AnnounceuploaderPreview video {
  height: 196px;
  width: 100%;
  object-fit: contain;
  border-radius: 8px !important;

}


.announcement-list-style .MuiDataGrid-virtualScroller {
  min-height: 500px !important;
  max-height: 100% !important;
  height: auto !important;

}


/* width */
.announcementFeed::-webkit-scrollbar {
  width: 3px;
  
}

/* Track */
.announcementFeed::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
.announcementFeed::-webkit-scrollbar-thumb {
  background: #f58020;
  border-radius: 2px;
  display: none;
}