


.main__appName {
  text-align: center;
}

.main__collapseBtn {
  align-self: flex-end;
  margin: 1rem;
  background-color: var(--light);
  outline: none;
  border-width: 0;
}

.main__logoContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.logo {
  margin-top: 1rem !important;
  margin-left: 0.5rem !important;
  margin-right: 1.3rem !important;
}
.sideNav__collapsed {
  width: 5rem !important;
}
.sideNav__collapsed .main__logoContainer {
  display: none;
}

.header__account {
  position: relative;
}

.main__header {
  max-height: 4rem;
}

.main__body {
  height: 100%;
  width: 87%;
  overflow-y: auto;
  overflow-x: hidden;
}

.main__header > div {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.main__header > div > .header__left {
  flex: 1;
}

.main__header > div > .header__right {
  flex: 1;
}
.sideNav__collapsed .logo-large {
  display: none;
}
.icon__logoContainer {
  display: none;
}
.sideNav__collapsed .icon__logoContainer {
  display: block;
}
.icon {
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
}
/* .sideNav__collapsed .icon__logoContainer > Image {
  minheight: 25px !important;
} */





@media only screen and (max-width: 1800px){
  .main__body {
    /* width: auto; */
  }
  
}



@media only screen and (max-width: 1200px){
  .main__body {
    /* width: auto; */
  }
}